
td {
	width: 100px;
	height: 80px;
	text-align: center;
}

.symbole_0{
	background-image:url("./0.png");
	opacity: 1;
}

.symbole_1{
	background-image:url("./1.png");
	opacity: 1;
}

.symbole_0_visu{
	background-image:url("./0.png");
	opacity: 0.6;
}

.symbole_1_visu{
	background-image:url("./1.png");
	opacity: 0.6;
}

.green{
	background-color: green;
}
.red{
	background-color: red;
}
.blue{
	background-color: blue;
}

body{
	background-color: aqua;
}
table{
	background-color: chartreuse;
}