
td {
	width: 100px;
	height: 80px;
	text-align: center;
}

.symbole_0{
	background-image:url("../images/morpion/0.png");
}

.symbole_1{
	background-image:url("../images/morpion/1.png");
}

.green{
	background-color: green;
}
.red{
	background-color: red;
}
.blue{
	background-color: blue;
}